@import url('https://fonts.googleapis.com/css2?family=Inter&family=Italiana&display=swap');

@import "tailwindcss";

@theme {
  --font-italiana: "Italiana", sans-serif;
  --font-inter:"Inter",sans-serif;

  --animate-loading: loading 1.5s ease-in-out infinite;

  @keyframes loading {
    0% {
       transform: translateX(-100%);
      },
    100% { 
      transform: translateX(100%);
    }
  }

}

@plugin "daisyui"{
    themes: light --default, dark --prefersdark;
}


